In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le_Sex = LabelEncoder()
le_ChestPainType = LabelEncoder()
le_RestingECG = LabelEncoder()
le_ExerciseAngina = LabelEncoder()
le_ST_Slope = LabelEncoder()

In [7]:
df['Sex_n'] = le_Sex.fit_transform(df['Sex'])
df['ChestPainType_n'] = le_ChestPainType.fit_transform(df['ChestPainType'])
df['RestingECG_n'] = le_RestingECG.fit_transform(df['RestingECG'])
df['ExerciseAngina_n'] = le_ExerciseAngina.fit_transform(df['ExerciseAngina'])
df['ST_Slope_n'] = le_ST_Slope.fit_transform(df['ST_Slope'])

In [8]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_n,ChestPainType_n,RestingECG_n,ExerciseAngina_n,ST_Slope_n
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,1,0,2
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,2,1,0,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,1,2,0,2
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,0,1,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,2,1,0,2

In [9]:
df_n = df.drop(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], axis='columns')

In [10]:
df_n

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_n,ChestPainType_n,RestingECG_n,ExerciseAngina_n,ST_Slope_n
0,40,140,289,0,172,0.0,0,1,1,1,0,2
1,49,160,180,0,156,1.0,1,0,2,1,0,1
2,37,130,283,0,98,0.0,0,1,1,2,0,2
3,48,138,214,0,108,1.5,1,0,0,1,1,1
4,54,150,195,0,122,0.0,0,1,2,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,1,3,1,0,1
914,68,144,193,1,141,3.4,1,1,0,1,0,1
915,57,130,131,0,115,1.2,1,1,0,1,1,1
916,57,130,236,0,174,0.0,1,0,1,0,0,1
917,38,138,175,0,173,0.0,0,1,2,1,0,2

In [20]:
y = df_n['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [11]:
from sklearn.decomposition import PCA

In [12]:
pca = PCA(0.95)

In [13]:
X_pca = pca.fit_transform(df_n.drop('HeartDisease', axis='columns'))

In [14]:
X_pca.shape

(918, 2)

In [15]:
X_pca

array([[ 92.31094761,  29.44092723],
       [-17.14271772,  13.75128639],
       [ 81.90549795, -38.22744601],
       ...,
       [-69.00407582, -17.3379013 ],
       [ 39.207459  ,  33.59828595],
       [-21.43666353,  37.22417628]])

In [16]:
pca.explained_variance_ratio_

array([0.92021836, 0.04913303])

In [17]:
pca.n_components_

2

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=2)

In [22]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [23]:
model_1 = SVC()
model_1.fit(X_train, y_train)
model_1.score(X_test, y_test)

0.717391304347826

In [24]:
model_2 = LogisticRegression()
model_2.fit(X_train, y_train)
model_2.score(X_test, y_test)

0.6847826086956522

In [25]:
model_3 = RandomForestClassifier()
model_3.fit(X_train, y_train)
model_3.score(X_test, y_test)

0.7065217391304348